<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <%- include('../partials/header.ejs')  %>
  <main>

    <% result.forEach(element => { %>
    <figure>
      <a href=<%=`/item/${element.id}` %>>
        <img src=<%= `${element.img_link}` %> alt="">
      </a>
      <figcaption>
        <div>
          <h4><%= element.product_name %></h4>
          <h4><%= element.company %></h4>
        </div>
        <div>
          <span>$<%= element.price %></span>
        </div>
      </figcaption>
    </figure>
    <% }) %>
  </main>
  <%- include('../partials/footer.js')  %>
  <script src="/main.js"></script>
</body>

</html>
