<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= result.product_name %></title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
  <%- include('../partials/header.ejs')  %>
  <main id="item-details">
    <figure>
      <img src=<%= `${result.img_link}` %> alt="">
      <figcaption>
        <div>
          <h4><%= result.product_name %></h4>
          <h4><%= result.company %></h4>
        </div>
        <div>
          <span>$<%= result.price %></span>
        </div>
      </figcaption>
    </figure>
  </main>
  <section id="update-form">
    <h2>UPDATE PRODUCT</h2>
    <form action=<%= `/updateItem/${result.id}` %> method="post">
      <input type="text" name="pname" id="pname" placeholder="Product name" value=<%= result.product_name %>>
      <input type="text" name="pUrl" id="pUrl" placeholder="Picture url" value=<%= result.img_link %>>
      <input type="text" name="cname" id="cname" placeholder="Company name" value=<%= result.company %>>
      <input type="number" name="itemPrice" id="itemPrice" placeholder="Price" value=<%= result.price %>>
      <input type="text" name="shopUrl" id="shopUrl" placeholder="Shop url" value=<%= result.shop_link %>>
      <input type="submit" value="UPDATE PRODUCT">
    </form>
  </section>
  <%- include('../partials/footer.js')  %>
  <script src="/main.js"></script>
</body>

</html>
